@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");
:root {
  --main-bg-color: brown;
  --font-family: "Poppins", sans-serif;
  --main-bg: #191919;
  --gradient-bg: linear-gradient(
    to right top,
    #191919,
    #2c2d2e,
    #404444,
    #575b59,
    #71736e
  );
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
}
